.todo-container2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px 20px;
  flex-wrap: wrap;
}

.todo {
  margin: 10px auto;
  /* padding: 3px; */
  display: flex;
  /* align-items: center; */
  /* align-content: space-between; */
  justify-content: space-around;
  color: white;
  padding: 10px 0 0 0;
}

.todo:hover {
  background-color: rgb(95, 174, 177);
  
}

.btn {
  margin: 5px;  
}

.todo-edit{
  display: flex;
  width: 100%;
  padding: 5px 20px;
  
}

.completed {
  text-decoration: line-through;
  color: dimgray;
}